* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background: linear-gradient(to left, rgb(9, 9, 75), rgb(44, 44, 204), rgb(70, 70, 230));
}

.imagens {
    display: grid;
    margin: 2px;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
}

.imagens img {
    width: 30%;
    margin-bottom: 12px;
    margin-left: 12px;
}